<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <div>
        <!-- Con routerLink nosotros le indicamos a donde queremos que se dirija al presionar el boton -->
        <a mat-button [routerLink]="'/login'">Iniciar sesión</a>
        <a mat-button>Cerrar sesión</a>
        <a mat-button [routerLink]="'/admin'">Admin</a>
    </div>
  </mat-toolbar>
